:root {
  --black: #000;
  --white: #fff;
  --gray: #6a6a6a;
  --gray100: #ccc;
  --primary: #0046b6;
  --primary100: #e7effa;
  --primary200: #dae9fe;
  --primary300: #004789;
}

li > ul {
  transform: translatex(100%) scale(0);
}
li:hover > ul {
  transform: translatex(101%) scale(1);
}
li > button svg {
  transform: rotate(-90deg);
}
li:hover > button svg {
  transform: rotate(-270deg);
}

.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}
.scale-0 {
  transform: scale(0);
}
.min-w-32 {
  min-width: 8rem;
}

/* =========================custom scroller============================= */

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  background: linear-gradient(73.93deg, #448cff 5.81%, #0046b6 71.48%);
}
.hide-vertical-scroll::-webkit-scrollbar {
  display: none !important;
}

/* ========================== firebase phone verification======================= */
.firebaseui-card-footer {
  display: none;
}
.mdl-card {
  background-color: #448cff;
}

.mdl-card.mdl-shadow--2dp {
  width: 100%;
  max-width: 100%;
  box-shadow: none;
}

.firebaseui-container.mdl-card {
  background-color: #fbf9f9;
}
.firebaseui-subtitle.firebaseui-title {
  color: red;
}
.mdl-dialog.firebaseui-dialog {
  height: fit-content;
  outline: none;
}
.mdl-dialog.firebaseui-list-box-dialog {
  max-height: none;
  outline: none;
}

#firebaseui_container
  > div
  > form
  > div.firebaseui-card-actions
  > div
  > button {
  background-color: rgb(54, 131, 202);
}

/* ===================circles around the features point in signup================ */
.feature-point {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 5px;

  border: 2px solid #fff;
  color: #666;
  text-align: center;
}

/* ==================slanted div=============================== */
.slanted {
  position: relative;
  display: inline-block;
  padding: 1em 5em 1em 1em;
  overflow: hidden;
  color: #fff;
}

.slanted:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  z-index: -1;
}

/* ============================= vertical align ===================== */

.v-align {
  position: relative;
  top: 30%;
  left: 55%;
  transform: translateY(-50%);
  transform: translateX(0%);
  /* vendor prefixes omitted due to brevity */
}

/* ======================date input============================== */

[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
}
.input-date {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 190px;
}

/* =====================pagonation========================== */
#root
  > div
  > div.pl-60.py-16
  > div
  > div.flex.justify-center
  > div
  > nav
  > ul
  > li {
  outline: none;
}

/* ===================table styles======================= */

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

th {
  background-color: var(--primary);
  color: #fff;
}
